build
.vscode
*.log
.DS_Store
verdiLog
*.verdiLog
*.rc
*.conf
*.bin
__pycache__
fxptdsp/.ipynb_*
fxptdsp/.ipynb_checkpoints/
fxptdsp/__pycache__
__pycache__
vivado.jou  
vivado.log
.Xil
./fpga
.ipynb_checkpoints/
/lib/fft/sram_32x16_1rw/
*.Identifier
*Zone.Identifier
.mplconfig
